/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
	max-width: 100%;
}

@font-face {
    font-family: 'SolaneTrial-Bold';
    src: url("../fonts/SolanelTrial-Bold-BF641d049dbbcae.otf")
}

@font-face {
    font-family: 'SolaneTrial-Regular';
    src: url("../fonts/SolanelTrial-Regular-BF641d049e3399f.otf")
}

@font-face {
    font-family: 'SolaneTrial-Thin';
    src: url("../fonts/SolanelTrial-Thin-BF641d049e0de32.otf")
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#181314;
	--color-background:#ffffff;
	--ajax-red: #B3112F;
	--background-grey: #413E3E;

}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	margin: 0;
	
}

h2{
	font-family: 'SolaneTrial-Bold';
	line-height: 0.98em;
	font-size: 1.65em;
}

p{
	font-family: 'SolaneTrial-Regular';
}

header {
	min-height:5em;
	padding:0 1em;
	background-image:url(../images/visuals-patterns-red.png);
	top: 0;

	display: flex;
	align-items: center;
	position: sticky;
	z-index: 2;
  }
  
  /* Ajax logo */
  header > a:first-of-type{
	padding:.4em;
	color:var(--color-background);
	text-decoration:none;
	font-family: 'SolaneTrial-Bold';
	font-size: 1.9em;
	z-index: 3;
  }

  /*****************/
  /* BEIDE BUTTONS */
  /*****************/
  header button {
	padding:.5em;
	
	/* icon en tekst met gap-je naast elkaar */
	display:flex;
	align-items:center;
	/* standaard styling aanpassen */
	appearance:none;
	background: none;
	border:none;
	border-radius:.25em; 
	color:var(--color-background);
  }

  header > button:first-of-type{
	width: 3em;
	background-color: var(--color-background);
	border-radius: 50%;
	justify-content: center;
	margin-left: auto;
	margin-right: .7em;
	z-index: 3;
  }

  header > button:nth-of-type(2) svg {
	fill: var(--color-background);
	width: 3em;
	fill: var(--color-text);
	background-color: var(--color-background);
	border-radius: 50%;
	padding: .1em .1em .1em .2em;
  }
  

  /***************/
  /* MENU BUTTON */
  /***************/
  header button {
	/* JOUW CODE HIER - stap 3 */
	display: flex;
	justify-content: flex-end;
	
  }
  
  
  
  /***************/
  /* SLUIT BUTTON */
  /***************/
  nav button {
   justify-self:start;
  }
  
  
  
  
  
  /************/
  /* HET MENU */
  /************/
  nav {
	display: grid;
	align-content:start;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	list-style: none;
	background-image: url("../images/visuals-patterns-red.png");
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;
	gap: 1em;
  }


  nav button{
	position: absolute;
    right: 1.8em;
	width: 3em;
	height: 3em;
	top: 1.5em;
	background-color: var(--color-background);
	border-radius: 50%;
	padding: .4em;
  }


  /* als menu open is */
  nav.toonMenu {
	/* JOUW CODE HIER - stap 4 */
	transform: translateY(0%);
  }
  
  
  
  
  
  /*******************/
  /* LIJST MET LINKS */
  /*******************/
  nav ul { 
	margin:0; 
	padding: 12em 0;
	list-style:none;
  }

  
  /************************/
  /* EEN LINK IN DE LIJST */
  /************************/
  nav ul a {
	/* icon en tekst met gap-je naast elkaar */
	display:flex;
	align-items:center;
	text-decoration: none;
	font-family: 'SolaneTrial-Bold';
	color: var(--color-background);
	padding: .2em 1em;
	font-size: 1.8em;
  }

  /* ajax logo in hamburger*/
  nav > a{
	padding: .8em .9em;
	color:var(--color-background);
	text-decoration:none;
	font-family: 'SolaneTrial-Bold';
	font-size: 1.9em;
  }

  
  
  /****************************************************************/
  /* styling voor de header als de browser minimaal 38em breed is */
  /****************************************************************/
  @media (min-width:38em) {
	header > button {

	  display: none;
	  
	}
	
	nav {
	  /* JOUW CODE HIER - stap 7 */
	  position: static;
	  translate: unset;
	  padding: 0;
	  background: none;
	  
	}
	
	nav button {
	  /* JOUW CODE HIER - stap 6 */
	  display: none;
	  
	}
	
	nav ul {
	  /* JOUW CODE HIER - stap 8 */
	  display: flex;
	  gap: 1em;
	  
	}
	
	nav a {
	  /* JOUW CODE HIER - stap 9 */
	  border: none;
	  flex-direction: column;
	  
	}
	
	header > a:last-of-type {
	  /* JOUW CODE HIER - stap 9 */
	  flex-direction: column;
	  
	}
  }
  
  
  
  
  
  /****************************************************************/
  /* styling voor de header als de browser minimaal 57em breed is */
  /****************************************************************/

  



/* header {
  min-height:5em;
  background-color:var(--ajax-red); 
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  padding: 0 1em;
  top: 0; 
  z-index: 2;
  background-image: url("../images/visuals-patterns-red.png");
} */

/* header nav{
	display: flex;
	justify-content: center;
	gap: 1.1em;
	align-items: center;
	font-size: 1.05em;
} */

/* header img{
	display: none;
} */

/* header nav a{
	color: var(--color-background);
	text-decoration: none;
	font-family: 'SolaneTrial-Bold';
	font-size: 1em;
	justify-content: center;
	position: relative;
} */


/* [class="navmedia" ]{
	display: none;
 } */

/*  header nav ul{
	position: relative;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	right: 0;
	top: 4.5em;
	bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	background-image: url("../images/visuals-patterns-red.png");
	background-position: 0px -80px;
	padding-top: 2em;
	transform: translateY(-120%);
	transition: transform 0.3s ease-in-out;
	z-index: 1;
 }

.toonMenu {
	transform: translateY(0%);
}


 header nav ul li{
	padding: .3em;
	font-size: 2em;
 }

header > a:nth-child(2){
	color: var(--color-background);
	text-decoration: none;
	padding-left: 0.2em;
	font-size: 2em;
	font-family: 'SolaneTrial-Bold';
	margin-right: auto;
}

header a:nth-of-type(4), header a:nth-of-type(5){
	border: solid var(--color-background) 2px;
	padding: .3em .7em;
	border-radius: 1em;
}

header a:nth-of-type(4):hover, header a:nth-of-type(5):hover{
	background-color: var(--color-background);
	color: var(--color-text);
} */

/* bron voor hover is https://youtu.be/_SWVPKY9ddI?si=ktKkbeRn0LwwXwa8 */

/* header nav a:nth-of-type(1)::before, header nav a:nth-of-type(2)::before, header nav a:nth-of-type(3)::before {
	content:'';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: var(--color-background);
	transition: all .5s;
}

header nav a:nth-of-type(1):hover::before, header nav a:nth-of-type(2):hover::before, header nav a:nth-of-type(3):hover::before {
    width: 100%;
} */
/* 
bron tot hier */

/* header a:nth-child(6), a:nth-of-type(7) {
	margin: 0.5em;
}

header a:nth-child(6) svg{
	position: relative;
	top: .1em;
	width: 37px;
	height: auto;
	aspect-ratio: 1;
	background-color: var(--color-background);
	border-radius: 50%;
	padding: 7px;
}

header a:nth-of-type(7) svg{
	position: relative;
	top: .1em;
	width: 37px;
	height: auto;
	aspect-ratio: 1;
	background-color: var(--color-background);
	border-radius: 50%;
	padding: 7px;
	fill: var(--color-text);
}

header a:nth-of-type(8), header a:nth-of-type(9){
   display: none;
} */

main article:first-of-type {
	background-color: var(--ajax-red);
	margin-top: 0;
	color: var(--color-background);
	padding: 1.6em;
	position: relative;
	height: 45em;
	background-image: url(../images/visuals-patterns-red.png);
	background-attachment: fixed; /* chatgpt, prompt: hoe zet ik de background image op fixed */

}

main article h1:first-of-type{
	margin: 0;
	font-family: 'SolaneTrial-Bold';
	font-size: 1.9em;
	
  }

  main article p:first-of-type{
	font-family:'SolaneTrial-Thin';
	font-size: 1.2em;
	max-width: 1100px;
  }

  main article:first-child p:nth-child(3){
	font-family: 'SolaneTrial-Bold';
	font-size: 2em;
	background-color: var(--color-background);
	color: var(--ajax-red);
	padding: 0.2em;
    width: 1.5em;
	height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  main article:first-child img {
	display: block;
	position: absolute;
	bottom: 0;
	max-width: 345px;

  }

  main article:first-of-type a:nth-of-type(1) {
	font-size: 1.1em;
	color: var(--color-text);
	text-decoration: none;
	background-color: var(--color-background);
	font-family: 'SolaneTrial-Bold' ;
	padding: 0.3em 0.5em 0.3em 0.5em;
	position: absolute;
	z-index: 1;
	bottom: 1em;
  }

main section:nth-of-type(1) ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    list-style: none;
    padding: 1em;
}

main section:nth-of-type(1) ul li{
	margin: 1em 1em 1.7em 0.5em;
	display: flex;
	align-items: center;
}

main section:nth-of-type(1) ul li::before {
    content: '';
    display: inline-block;
    background-size: contain;
	background-repeat: no-repeat;
    width: 5.3em; 
    height: 5.3em; 
    margin-right: 1em;
}

main section:nth-of-type(1) ul li:first-of-type::before {
    background-image: url('../images/cirkel25.svg');
}

main section:nth-of-type(1) ul li:nth-of-type(2)::before {
    background-image: url('../images/cirkel78.svg');
}

main section:nth-of-type(1) ul li:nth-of-type(3)::before {
    background-image: url('../images/cirkel0.svg');
}

main section:nth-of-type(1) ul li:nth-of-type(4)::before {
    background-image: url('../images/cirkel50.svg');
}

main section:nth-of-type(1) ul li span:first-of-type {
    font-weight: bold;
    color: var(--color-text);
    margin-right: 10px;
	font-family: 'SolaneTrial-Bold';
	font-size: 2.1em;
}

main section:nth-of-type(1) ul li span:nth-of-type(2) {
	font-weight: bold;
    color: var(--color-text);
	font-family: 'SolaneTrial-Regular';
	display: flex;
	font-size: 1em;
}

main article:nth-of-type(2){
	margin-left: 1em;
	max-width: 400px;
}

main article:nth-of-type(2) h2{
	font-family: 'SolaneTrial-Bold';
	font-size: 1.8em;
}

main article:nth-of-type(2) h3{
	font-family: 'SolaneTrial-Bold';
	font-size: 1em;

}

main article:nth-of-type(2) ul li{
	list-style: none;
	display: flex;
	align-items: center;
}

main article:nth-of-type(2) ul li span:nth-of-type(1){
	font-family: 'SolaneTrial-Bold';
	flex: 1;

}

main article:nth-of-type(2) ul li span:nth-of-type(2){
	font-family: 'SolaneTrial-Regular';
	margin-right: 2em;
}

main section:nth-of-type(2) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 1em 2em 1em;
}

main section:nth-of-type(2) img {
	width: 100%;
    height: 150px;
    object-fit: cover;
}

main section:nth-of-type(2) h2{
  position: absolute;
  top: 14%;
  left: 12%;
  font-family: 'SolaneTrial-Bold';
  font-size: 1.5em;
  color: var(--color-background);
}

main section:nth-of-type(2) p{
	position: absolute;
	font-family: 'SolaneTrial-Regular';
	left: 12%;
	top: 42%;
	color: var(--color-background);
	font-size: 1.1em;
}

main section:nth-of-type(2) a{
	position: absolute;
	text-decoration: none;
	background-color: var(--color-background);
	font-family: 'SolaneTrial-Bold';
	color: var(--color-text);
	padding: .2em .5em .2em .5em;
	left: 12%;
	bottom: 25%;
	font-size: 1.05em;
}

main article:nth-of-type(3), article:nth-of-type(4){
	position: relative;
	margin: 1em;
	border-bottom: solid 1px var(--ajax-red);
}

main article:nth-of-type(3) p:nth-of-type(2), article:nth-of-type(4) p:nth-of-type(2){
	background-color: var(--background-grey);
	color: var(--color-background);
	font-size: .65em;
	padding: .5em;
	width: fit-content;
} 

article:nth-of-type(3) svg, article:nth-of-type(4) svg{
	position: absolute;
	bottom: 0.5em;
	right: 0;
}

main article:nth-of-type(5) section:first-of-type{
	position: relative;
	background-color: var(--ajax-red);
	margin: 1em;
	padding-bottom: 6em;
}

main article:nth-of-type(5) section:first-of-type img{
	border-bottom: solid 2px var(--color-background);
}

main article:nth-of-type(5) section:first-of-type p:first-of-type{
	color: var(--color-background);
	font-family: 'SolaneTrial-Bold';
	font-size: 4em;
	position: absolute;
	bottom: -11%;
	left: 10% ;
}

main article:nth-of-type(5) section:first-of-type p:nth-of-type(2){
	color: var(--color-background);
	font-family: 'SolaneTrial-Bold';
	font-size: 1.5em;
	position: absolute;
	bottom: 5.5%;
	left: 25% ;
}

main article:nth-of-type(5) section:first-of-type p:nth-of-type(3){
	color: var(--color-background);
	font-family: 'SolaneTrial-Regular';
	font-size: 1em;
	position: absolute;
	bottom: 2.5%;
	left: 25% ;
}

main article:nth-of-type(5) h2 {
	padding-left: 0.5em;
}


footer section{
	font-family: 'SolaneTrial-Regular';
	display: flex;
	justify-content: space-between;
	padding: 2em 1em ;
}


footer h3, footer ul{
    margin: 0;
}


footer ul:nth-of-type(1), footer ul:nth-of-type(2) {
    width: 45%;
    margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

footer ul:nth-of-type(3), footer ul:nth-of-type(4) {
    width: 45%;
    margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

footer h3 {
	font-family: 'SolaneTrial-Bold';
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
	display: flex;
}

footer article:first-of-type{
	margin: 1em;
}


footer article:first-of-type a{
	text-decoration: none;
	color: var(--color-background);
	background-color: #B3112F;
	font-family: 'SolaneTrial-Bold';
	padding: .2em .4em;
	font-size: 1.3em;
}

@media (min-width: 768px) {
    .navmedia {
        display: inline-block;
    }
	header a:nth-child(6), a:nth-of-type(7) {
		display: none;
	}
	header img{
		display: inline-block;
    	padding: 1em;
	}
	header a:nth-of-type(8), header a:nth-of-type(9){
		display: inline-block;
	 }
	header a:nth-of-type(8){
		border-right: solid var(--color-background) 1px;
	}
	
	main section:nth-of-type(1) ul li::before {
		width: 7em; 
		height: 7em; 
	}
	




}









