*, *::after, *::before {
	box-sizing:border-box;  
	max-width: 100%;
}



/* =========================================
   Fonts
   ========================================= */

@font-face {
    font-family: 'SolaneTrial-Bold';
    src: url("../fonts/SolanelTrial-Bold-BF641d049dbbcae.otf")
}

@font-face {
    font-family: 'SolaneTrial-Regular';
    src: url("../fonts/SolanelTrial-Regular-BF641d049e3399f.otf")
}

@font-face {
    font-family: 'SolaneTrial-Thin';
    src: url("../fonts/SolanelTrial-Thin-BF641d049e0de32.otf")
}





/* =========================================
   Dark mode
   ========================================= */

@media (prefers-color-scheme: dark) {
	body {
	  background-color: black;
	  color: white;
	}
  
	footer svg, main svg {
	  filter: invert(100%);
	}

	footer li a, p, li, h2{
		color: var(--color-background);
	}

	main section:nth-of-type(1) ul li span{
		color: white;
	}

    footer a:hover, button:hover,
	[class="pagina2"] div article:hover h2,
	[class="grid-container"] article:nth-of-type(2):hover h2,
	[class="grid-container"] article:nth-of-type(3):hover h2 {
        color: cyan !important; /* Bron: chatgpt: hoe zorg ik er voor dat hij deze code in dark mode prioriteit geeft */
		fill: cyan !important;
    }

	a:focus,
    button:focus{
	outline: 4px dashed rgb(0, 255, 26) !important; 
    outline-offset: 3px; 
}

  }



/* =========================================
   Basiskleuren in website
   ========================================= */

:root {
	--color-text:#181314;
	--color-background:#ffffff;
	--ajax-red: #B3112F;
	--background-grey: #413E3E;
	--hover-article: grey;
}



/* =========================================
   Focus state voor screenreader en tab
   ========================================= */

a:focus,
button:focus{
	outline: 4px dashed rgb(0, 144, 14); 
    outline-offset: 3px; 
}



/* =========================================
   Algemeen
   ========================================= */

body{
	margin: 0;
	
}

h2{
	font-family: 'SolaneTrial-Bold';
	line-height: 0.98em;
	font-size: 1.65em;
}

p{
	font-family: 'SolaneTrial-Regular';
}


/* =========================================
   Header beide pagina's
   ========================================= */

header {
	min-height:5em;
	padding:0 1em;
	background-image:url(../images/visuals-patterns-red.png);
	top: 0;

	display: flex;
	align-items: center;
	position: sticky;
	z-index: 2;
  }

  header img{
	display: none;
}
  
  /* Ajax logo */
  header > a:first-of-type{
	padding:.4em;
	color:var(--color-background);
	text-decoration:none;
	font-family: 'SolaneTrial-Bold';
	font-size: 1.9em;
	z-index: 3;
  }

/* onderstaande code gebruikt van zelf gemaakte codepen hamburger opdracht */

  header button {
	padding:.5em;
	display:flex;
	align-items:center;
	appearance:none;
	background: none;
	border:none;
	border-radius:.25em; 
	color:var(--color-background);
  }

  header > button:first-of-type{
	width: 3em;
	background-color: var(--color-background);
	border-radius: 50%;
	justify-content: center;
	margin-left: auto;
	margin-right: .7em;
	z-index: 3;
  }

  header > button:nth-of-type(2) svg {
	fill: var(--color-background);
	width: 3em;
	fill: var(--color-text);
	background-color: var(--color-background);
	border-radius: 50%;
	padding: .1em .1em .1em .2em;
  }
  

  header button {
	display: flex;
	justify-content: flex-end;
	
  }
  
  
  nav button {
   justify-self:start;
  }
  

  nav {
	display: grid;
	align-content:start;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	list-style: none;
	background-image: url("../images/visuals-patterns-red.png");
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;
	gap: 1em;
  }


  nav button{
	position: absolute;
    right: 1.8em;
	width: 3em;
	height: 3em;
	top: 1.5em;
	background-color: var(--color-background);
	border-radius: 50%;
	padding: .4em;
  }


  nav.toonMenu {
	transform: translateY(0%);
  }
  
  

  nav ul { 
	margin:0; 
	padding: 12em 0;
	list-style:none;
  }


  nav ul a {
	display:flex;
	align-items:center;
	text-decoration: none;
	font-family: 'SolaneTrial-Bold';
	color: var(--color-background);
	padding: .2em 1em;
	font-size: 1.8em;
  }

  /* ajax logo in hamburger*/
  nav > a{
	padding: .8em .9em;
	color:var(--color-background);
	text-decoration:none;
	font-family: 'SolaneTrial-Bold';
	font-size: 1.9em;
  }





/* =========================================
   Eerste artikel over brobbey
   ========================================= */

/* deze class moest omdat hij anders in de knoop zat met pagina 2 */
[class="eerstearikel"] {
	background-color: var(--ajax-red);
	margin-top: 0;
	color: var(--color-background);
	padding: 1.6em;
	position: relative;
	height: 45em;
	background-image: url(../images/visuals-patterns-red.png);
	background-attachment: fixed; /* chatgpt, prompt: hoe zet ik de background image op fixed */
}

main > article h1:first-of-type{
	margin: 0;
	font-family: 'SolaneTrial-Bold';
	font-size: 1.9em;
	
  }

  main > article p:first-of-type{
	font-family:'SolaneTrial-Thin';
	font-size: 1.2em;
	max-width: 600px;
  }


  /* =========================================
   Responsiveness van erste artikel over brobbey
   ========================================= */

  @media(min-width: 768px){

	main > article h1:first-of-type{
		font-size: 3em;
	}

	main > article:first-of-type{
		height: 29em;
	}

	main > article p:first-of-type{
		max-width: 400px;
	}

	main > article:first-child img {
		position: relative;
		right: 3.5em;
		max-width: 100%;
		height: auto; 
		object-fit: cover; /* bron: chatgpt: waarom word mijn afbeelding uitgerekt? */
		height: 480px;
	}


}

@media(min-width: 1024px){
	main > article:first-child img {
		right: 8em;
	}

	

}



@media(min-width: 1300px){

	main > article h1:first-of-type,
	main > article > p:first-of-type,
	main > article:first-child p:nth-child(3),
	main > article:first-child img,
	main > article:first-of-type a:nth-of-type(1)
	{
		margin: 0 220px;
	}

	main > article:first-child p:nth-child(3){
		margin-top: 1em;
	}
}



  main > article:first-child p:nth-child(3){
	font-family: 'SolaneTrial-Bold';
	font-size: 2em;
	background-color: var(--color-background);
	color: var(--ajax-red);
	padding: 0.2em;
    width: 1.5em;
	height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  main > article:first-child img {
	display: block;
	position: absolute;
	bottom: 0;
	max-width: 348px;

  }

  main > article:first-of-type a:nth-of-type(1) {
	font-size: 1.1em;
	color: var(--color-text);
	text-decoration: none;
	background-color: var(--color-background);
	font-family: 'SolaneTrial-Bold' ;
	padding: 0.3em 0.5em 0.3em 0.5em;
	position: absolute;
	z-index: 1;
	bottom: 1em;
	box-shadow: 5px 5px 13px black;
  }

  main > article:first-of-type a:nth-of-type(1):hover{
	color: var(--ajax-red);
	background-color: gainsboro;
  }



  /* =========================================
   Section met grafieken
   ========================================= */

main > section:nth-of-type(1) ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    list-style: none;
    padding: 1em;
}

main > section:nth-of-type(1) ul li{
	margin: 1em 1em 1.7em 0.5em;
	display: flex;
	align-items: center;
}

main > section:nth-of-type(1) ul li::before {
    content: '';
    display: inline-block;
    background-size: contain;
	background-repeat: no-repeat;
    width: 5.3em; 
    height: 5.3em; 
    margin-right: 1em;
}


/* Bron, chatgpt: hoe krijg ik een image als list stijl */
main section:nth-of-type(1) ul li:first-of-type::before {
    background-image: url('../images/cirkel25.svg');
}

main section:nth-of-type(1) ul li:nth-of-type(2)::before {
    background-image: url('../images/cirkel78.svg');
}

main section:nth-of-type(1) ul li:nth-of-type(3)::before {
    background-image: url('../images/cirkel0.svg');
}

main section:nth-of-type(1) ul li:nth-of-type(4)::before {
    background-image: url('../images/cirkel50.svg');
}

/* tot hier */

main section:nth-of-type(1) ul li span:first-of-type {
    font-weight: bold;
    margin-right: 10px;
	font-family: 'SolaneTrial-Bold';
	font-size: 2.1em;
}

main section:nth-of-type(1) ul li span:nth-of-type(2) {
	font-weight: bold;
	font-family: 'SolaneTrial-Regular';
	display: flex;
	font-size: 1em;
}



  /* =========================================
   Artikelen pagina 1
   ========================================= */

[class="grid-container"] article:nth-of-type(1){
	margin: 1em;
}

[class="grid-container"] article:nth-of-type(1) h2{
	font-family: 'SolaneTrial-Bold';
	font-size: 1.8em;
}

[class="grid-container"] article:nth-of-type(1) h3{
	font-family: 'SolaneTrial-Bold';
	font-size: 1em;
}

[class="grid-container"] article:nth-of-type(1) ul li{
	list-style: none;
	display: flex;
	align-items: center;
}

[class="grid-container"] article:nth-of-type(1) ul li span:nth-of-type(1){
	font-family: 'SolaneTrial-Bold';
	flex: 1;

}

[class="grid-container"] article:nth-of-type(1) ul li span:nth-of-type(2){
	font-family: 'SolaneTrial-Regular';
	margin-right: 2em;
}

[class="grid-container"] > section:nth-of-type(1) {
    position: relative;
    padding: 2em 1em 2em 1em;
}

[class="grid-container"] > section:nth-of-type(1) img {
	width: 100%;
    height: 260px;
    object-fit: cover;
}

[class="grid-container"] > section:nth-of-type(1) h2{
  position: absolute;
  font-family: 'SolaneTrial-Bold';
  font-size: 1.9em;
  color: var(--color-background);
  left: 1.5em;

}

[class="grid-container"] > section:nth-of-type(1) p{
	position: absolute;
	font-family: 'SolaneTrial-Regular';
	color: var(--color-background);
	font-size: 1.2em;

	left: 2.45em;
	top: 4em;
}

[class="grid-container"] > section:nth-of-type(1) a{
	position: absolute;
	text-decoration: none;
	background-color: var(--color-background);
	font-family: 'SolaneTrial-Bold';
	color: var(--color-text);
	padding: .2em .5em .2em .5em;
	left: 2.05em;
	bottom: 3.5em;
	font-size: 1.5em;
	box-shadow: 5px 5px 13px black;
}


[class="grid-container"] > section:nth-of-type(1) a:hover{
	color: var(--ajax-red);
	background-color: gainsboro;
}


[class="grid-container"] article:nth-of-type(2),
[class="grid-container"] article:nth-of-type(3){
	position: relative;
	margin: 1em;
	border-bottom: solid 1px var(--ajax-red);
	display: block;
}

[class="grid-container"] article:nth-of-type(2) a,
[class="grid-container"] article:nth-of-type(3) a{
	text-decoration: none;
	color: var(--color-text);

}

[class="grid-container"] article:nth-of-type(2) p:nth-of-type(2),
[class="grid-container"] article:nth-of-type(3) p:nth-of-type(2){
	background-color: var(--background-grey);
	color: var(--color-background);
	font-size: .65em;
	padding: .5em;
	width: fit-content;
} 

[class="grid-container"] article:nth-of-type(2) svg,
[class="grid-container"] article:nth-of-type(3) svg{
	position: absolute;
	bottom: 0.5em;
	right: 0;
}









  /* =========================================
   Article Met brobbeys teamgenoten (grid)
   ========================================= */

main > article:last-of-type {
  display: grid;
  grid-template-columns: 1fr;
}

  /* bron: chatgpt, hoe zorg ik dat de h2 geen deel uitmaakt van het grid systeem?*/
  
  main > article:last-of-type h2 {
	grid-column: 1 / -1; 
	padding-left: 0.5em;
  }

  /* bron tot hier */


  main > article:last-of-type section {
	display: none;
  }
  
  main > article:last-of-type section:nth-of-type(1) {
	display: block;
  }
  

main > article:last-of-type section {
  position: relative;
  background-image: url('../images/visuals-patterns-red2.png');
  margin: 1em;
  padding-bottom: 6em;
}

main > article:last-of-type section img {
  border-bottom: solid 3px var(--color-background);
}


main > article:last-of-type section p:first-of-type {
  color: var(--color-background);
  font-family: 'SolaneTrial-Bold';
  font-size: 3em;
  position: absolute;
  bottom: -.4em;
  left: .5em
}

main > article:last-of-type section p:nth-of-type(2) {
  color: var(--color-background);
  font-family: 'SolaneTrial-Bold';
  font-size: 1.5em;
  position: absolute;
  bottom: 1.2em;
  left: 4em;

}

main > article:last-of-type section p:nth-of-type(3) {
  color: var(--color-background);
  font-family: 'SolaneTrial-Regular';
  font-size: 1em;
  position: absolute;
  bottom: 1em;
  left: 6em

}

main > article:last-of-type h2 {
  padding-left: 0.5em;
}


  /* =========================================
   Ajax for the future afbeelding
   ========================================= */

main > svg:last-of-type {
    margin: 5em auto 1em auto;
    width: 20em;
    display: block;
}

[class="pagina2"] > svg:last-of-type {
    margin: 8em auto 1em auto;
    width: 20em;
    display: block;
}



  /* =========================================
   Footer
   ========================================= */

footer section {
    font-family: 'SolaneTrial-Regular';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 20px;
    padding: 1.5em 1em;
	max-width: 36em;
}

footer h3, footer ul {
    margin: 0;
}

footer ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

footer h3{
    font-family: 'SolaneTrial-Bold';
}


footer article:first-of-type{
	margin: 1em;
	max-width: 300px;
	padding-top: 1em;
}

footer article:first-of-type p{
	margin-top: .1em;
}


footer article:first-of-type a {
    background-color: var(--ajax-red);
    color: var(--color-background);
    font-family: 'SolaneTrial-Bold';
    padding: .3em .5em;
    font-size: 1.2em;
    display: inline-block;
    transition: transform 0.3s ease;
}

footer article:first-of-type a:hover {
    transform: scale(1.1); 
}

footer article:nth-of-type(2), 
footer article:last-of-type{
	margin: 2.3em 1em;
	max-width: 300px;
}

footer article:nth-of-type(2) a svg{
	width: 3em;
	padding-top: .4em;
}

footer article:last-of-type a svg{
	width: 5em;
}

footer article:nth-of-type(2) a,
footer article:last-of-type a{
	text-decoration: none; /* rare paarse lijntjes onder svg weghalen */
}

footer a{
	text-decoration: none;
	color: var(--color-text);
}

footer li a:hover{
	color: var(--background-grey);
	text-decoration: underline;
}

footer a:hover{
	fill: var(--background-grey);
}




  /* =========================================
   Pagina 2 (ajax 1)
   ========================================= */

header h1{
	padding:.4em;
	color:var(--color-background);
	font-family: 'SolaneTrial-Bold';
	font-size: 1.9em;
	z-index: 3;
	margin: 0;
}



[class="pagina2"] div:first-of-type {
	display: flex;
	flex-direction: column;
}

[class="pagina2"] div article{
	position: relative;
	margin: 1em;
	border-bottom: solid 1px var(--ajax-red);
	display: block;
}

[class="pagina2"] div article a{
	text-decoration: none;
	color: var(--color-text);
}

[class="pagina2"] div article a p:nth-of-type(2){
	background-color: var(--background-grey);
	color: var(--color-background);
	font-size: .65em;
	padding: .5em;
	width: fit-content;
} 

[class="pagina2"] div article svg{
	position: absolute;
	bottom: 0.5em;
	right: 0;
}

[class="pagina2"] div article:nth-of-type(3){
	display: none;
}

[class="pagina2"] div article:hover h2,
[class="grid-container"] article:nth-of-type(2):hover h2,
[class="grid-container"] article:nth-of-type(3):hover h2{
    color: var(--hover-article);
}



  /* =========================================
   Grid met aankomende wedrijden
   ========================================= */

[class="wedstrijden-grid"]{
	display: grid;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

[class="wedstrijden-grid"] section{
	display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-top: 1px solid var(--ajax-red);
    padding: 1.8em 0;
}

[class="wedstrijden-grid"] section:first-of-type{
	border-top: none;
}

[class="wedstrijden-grid"] section span:nth-of-type(1),
[class="wedstrijden-grid"] section span:nth-of-type(3) {
    text-align: center;
}

[class="wedstrijden-grid"] section span:nth-of-type(1) img,
[class="wedstrijden-grid"] section span:nth-of-type(3) img {
    max-width: 50px;
    display: block;
    margin: 0 auto;
}

[class="wedstrijden-grid"] section span:nth-of-type(2) {
    text-align: center;
    display: flex;
    flex-direction: column;
}

[class="wedstrijden-grid"] section span:nth-of-type(2) span:nth-of-type(1) {
    font-size: 14px;
    font-weight: normal;
	font-family: 'SolaneTrial-Regular';
}

[class="wedstrijden-grid"] section span:nth-of-type(2) span:nth-of-type(2) {
    font-size: 14px;
    font-family: 'SolaneTrial-Thin';
}

[class="wedstrijden-grid"] section span:nth-of-type(2) span:nth-of-type(3) {
    font-size: 20px;
    font-family: 'SolaneTrial-Bold';
    margin-top: 10px;
}



  /* =========================================
   Stand van de Eredivisie
   ========================================= */

article:nth-of-type(2) section{
	display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
    max-width: 600px;
}

[class="stand-grid"] h2, [class="stand-grid"] h3{
    margin: 0;
}

article:nth-of-type(2) h3{
	font-family: 'SolaneTrial-Regular';
	padding: .5em 0;
}


article:nth-of-type(2) section span{
	padding: 10px;
    text-align: center;
	font-family: 'SolaneTrial-Regular';
	padding: .4em 0;
}


article:nth-of-type(2) section:first-of-type span, article:nth-of-type(2) section:nth-of-type(6) span{
	font-family: 'SolaneTrial-Bold';
}

article:nth-of-type(2) section span:nth-of-type(2) {
    text-align: left;
}


  /* =========================================
   Technisch staf arkikel
   ========================================= */

[class="container-info"] article:nth-of-type(3) p span:nth-of-type(1){
	font-family: 'SolaneTrial-Bold';
}

[class="container-info"] article:nth-of-type(3) p{
	margin: .7em 0;
	font-size: 1.05em;
}



  /* =========================================
   Media queries responsiveness
   ========================================= */

/* bron: chat gpt, kan je mijn dubbele media queries samenvoegen? */
@media (min-width: 870px) {
	header {
	  height: 7em;
	  display: flex;
	}
  
	header > button:nth-of-type(2) {
	  display: none;
	}
  
	nav button {
	  display: none;
	}
  
	header img {
	  position: absolute;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-bottom: .6em;
	  left: 1em;
	}
  
	header > a:first-of-type {
	  position: absolute;
	  left: 2.5em;
	}
  
	nav {
	  position: static;
	  translate: unset;
	  padding: 0;
	  background: none;
	  position: absolute;
	  justify-content: flex-end;
	  margin-right: 6em;
	  margin-top: 4.7em;
	}
  
	nav ul {
	  display: flex;
	  gap: .6em;
	  padding: 0;
	  margin-bottom: -1.5em;
	  order: 1;
	}
  
	nav ul li a {
	  font-size: 1em;
	  padding: 0.5em;
	}
  
	header > button:first-of-type {
	  margin-right: 1em;
	  order: 2;
	}
  
	nav ul li a {
	  position: relative;
	}
  
	/* bron voor hover is https://youtu.be/_SWVPKY9ddI?si=ktKkbeRn0LwwXwa8 */
  
	nav ul li:nth-child(1) a::before,
	nav ul li:nth-child(2) a::before,
	nav ul li:nth-child(3) a::before,
	nav ul li:nth-child(6) a::before {
	  content: '';
	  position: absolute;
	  bottom: -1px;
	  left: 0;
	  width: 0%;
	  height: 2px;
	  background-color: var(--color-background);
	  transition: all .5s;
	}
  
	nav ul li:nth-child(1) a:hover::before,
	nav ul li:nth-child(2) a:hover::before,
	nav ul li:nth-child(3) a:hover::before,
	nav ul li:nth-child(6) a:hover::before {
	  width: 100%;
	}
  
	/* bron tot hier */
  
	nav ul li:nth-child(4) a,
	nav ul li:nth-child(5) a {
	  border: solid var(--color-background) 2px;
	  padding: .3em .7em;
	  border-radius: 1em;
	}
  
	nav ul li:nth-child(4) a:hover,
	nav ul li:nth-child(5) a:hover {
	  background-color: var(--color-background);
	  color: var(--color-text);
	  transition: all .5s;
	}
  
	nav ul li:nth-child(6) {
	  background-image: url('../images/mijnajax.svg');
	  background-repeat: no-repeat;
	  background-position: left center;
	  padding-left: 1.5em;
	  border-right: solid 1px var(--color-background);
	  padding-right: 1.8em;
	}
  
	header > button:first-of-type {
	  background-color: transparent;
	  fill: var(--color-background);
	  stroke: var(--color-background);
	}
  
	header h1 {
	  padding-left: 2em;
	}
  }
  







  @media (min-width: 768px) {
	footer {
	  display: flex;
	  justify-content: center;
	  padding-top: 2em;
	}
  
	[class="grid-container"] {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	}


	[class="pagina2"] > section:first-of-type{
		margin: 2em 5em 0 5em ;
	}

	[class="pagina2"] div:first-of-type, 
	[class="container-info"]{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 4em;
	}


  }
  
  @media (min-width: 1024px) {
	footer {
	  justify-content: space-around;
	}
  
	[class="grid-container"] {
	  max-width: 1400px;
	  margin: 0 auto;
	}

	[class="pagina2"] div article:nth-of-type(3){
		display: block;
	}
	
	[class="pagina2"] div:first-of-type, 
	[class="container-info"]{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0 4em;
	}

	[class="pagina2"] > section:first-of-type{
		margin: 2em 7em 1e 7em ;
	}


  }


  @media (min-width: 1300px){
	[class="pagina2"] div:first-of-type, 
	[class="container-info"]{
		margin: 0 11em;
	}

	[class="pagina2"] > section:first-of-type{
		margin: 4em 18em 2em 18em ;
	}

  }




  /* voor onderste artikel met spelers, steeds eentje meer zichtbaar */
  @media (min-width: 530px) {
	main > article:last-of-type {
	  grid-template-columns: 1fr 1fr;
	}
  
	main > article:last-of-type section:nth-of-type(2) {
	  display: block;
	}
  }
  
  @media (min-width: 810px) {
	main > article:last-of-type {
	  grid-template-columns: 1fr 1fr 1fr;
	}
  
	main > article:last-of-type section:nth-of-type(3) {
	  display: block;
	}
  }
  
  @media (min-width: 1200px) {
	main > article:last-of-type {
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	}
  
	main > article:last-of-type section:nth-of-type(4) {
	  display: block;
	}
  }
  
  @media (min-width: 1400px) {
	main > article:last-of-type {
	  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
  
	main > article:last-of-type section:nth-of-type(5) {
	  display: block;
	}
  }


  